body {
  background: lightskyblue;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  height: 100%;
  text-align: center;
}

div {
  font-size: 40px;
}
